# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [30]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [31]:
# Output File (CSV)
output_data_file = "output_data/cities.csv"

In [32]:
output_df = pd.read_csv("../output_data/cities.csv")
output_df.dropna(inplace = True)
output_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [33]:
# access maps with API key
gmaps.configure(api_key=g_key)

In [34]:
# Lat & lng values as locations variable and humidity as weight
locations = output_df[["Lat", "Lng"]]
humidity = output_df["Humidity"].astype(int)

In [35]:
#plot heatmap
fig = gmaps.figure()

#create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                point_radius=4)

#add layer
fig.add_layer(heat_layer)

#show figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [68]:
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
bestweather_df = output_df.loc[(output_df['Max Temp']>70) & (output_df['Max Temp']<80)&
                       (output_df["Wind Speed"]<10) & (output_df["Cloudiness"]==0)]
bestweather_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [42]:
#add "Hotel Name" to dataframe
hotel_df["Hotel Name"] = ""
hotel_df

C:\Users\tamal\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32,
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50,
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06,
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59,
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93,
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77,
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17,

In [53]:
target_coord = ["-20.63, -46.00", "-30.17, -50.22", "-20.30, 44.28",
                     "15.34, 74.49", "35.17, -2.93", "22.92, 96.51", "32.86, 59.22"]
target_type = "lodging"
target_search = "hotels"
target_radius = 5000

In [66]:
# Make parameters dictionary
params = {
    "location": target_coord,
    "radius": target_radius,
#    "keyword": target_search,
    "type": target_type,
    "key": g_key,
}
# Get base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Get request using params dictionary
response = requests.get(base_url, params=params)

In [67]:
# Convert to json & make it pretty
hotels = response.json()
print(json.dumps(hotels, indent=4, sort_keys=True))

NameError: name 'json' is not defined

In [70]:
narrowed_city_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32,ponta do sol
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50,cidreira
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06,morondava
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59,vaini
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93,nador
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77,mogok
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17,birjand

In [60]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'narrowed_city_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display Map